@use 'variables';

#header {
    display: grid;
    grid-template: 1fr 1fr / 4fr 3fr;

    background-color: white;
    box-shadow: variables.$shadow;

    padding: 0.7rem;
    padding-left: 3.5rem;

    #searchbar {
        padding-top: 1.5rem;

        img {
            margin-right: 0.7rem;
            float:left;
            display: block;
        }

        input {
            height: 1.7rem;
            width: 75%;
            border-radius: 25px;
            background-color: variables.$light-grey;
            border-style: none;
        }
    }

    #user {
        display: flex;
        text-align: center;
        padding-left: 30%;
        padding-top: 1.5rem;

        #notification {
            padding-top: 1rem;
            width: 25px;
            height: 25px;

            &:hover {
                cursor: pointer;
            }
        }
        
        .user_pfp {
            @include variables.pfp-style;
        }

        h3 {
            margin-left: 20px;
        }
    }

    #welcome {
        display: flex;

        .welcome_user_pfp {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin-right: 10px;
        }

        #welcome-text {
            font-weight: bold;
            text-align: left;
        }
    }

    #buttons {
        position: relative;
        padding-left: 20%;
        padding-top: 5%;

        button {
            color: white;
            margin-left: 5%;
            font-weight: bold;
            height: 3rem;
            width: 5rem;
            background-color: variables.$blue;
            border-radius: 25px;
            border-style: none;

            &:hover {
                cursor: pointer;
            }
        }
    }
}