#sidebar {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    color: white;
    font-weight: bold;
    background-color: rgb(66, 143, 231);
    margin: 0;

    #icon {
        display: flex;
        text-align: center;
        margin-bottom: 50px;
        padding-top: 25px;

        img{
            margin-left: 40px;
            flex: 1;
        }

        h2 {
            flex: 3;
        }
    }

    #links {
        margin-bottom: 50px;
    }

    li {
        &:hover {
            border-bottom: 3px solid white;
            cursor: pointer;
        }

        width: 50%;
        border-bottom: 3px solid rgb(66, 143, 231);
        padding-bottom: 10px;
        padding-left: 70px;
        list-style: none;
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
}
